.footer {
    background: var(--color--qor);
    padding: 20px 20px;
    margin-top: 150px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


}
.footer__in{
    display: flex;
    align-items: center;
}

.footer__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    // margin-top: -7px;
}

.footer__item__link {
    color: #FBFCFE;
    font-family:" Public Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.20;
    transition: all 0.8s ease;

    &:hover{
        color: var(--color--kul);
    }
}